<br />
<p>
    Filelocker v$config['version']<br />
    &copy; $currentYear. Developed at <a href="http://www.purdue.edu" target="_blank">Purdue University</a>. This service is operated and maintained by <a href="$config['root_url']" target="_blank">$orgConfig['org_name']</a>.
</p>
